extends layout

block content
    h1 Reset your password
    if error
        p.
            #{error}
    form(action="/forgot_password/reset",method="POST")
        input(type="hidden",name="_csrf",value=csrfToken)
        input(type="hidden",name="code",value=code)
        input(type="hidden",name="id",value=id)
        table(style="")
            tr
                td
                    input(type="password",id="password",name="password",placeholder="New Password")
            tr
                td
                    input(type="password",id="password-verify",name="password-verify",placeholder="Validate Password")
        input(type="submit",id="accept",value="Send Email")