doctype html
html
  head
    title= title
    style
      include ../public/static/css/main.css
    meta(name="viewport",content="width=device-width, initial-scale=1.0")

  body(class="h-screen container mx-auto flex justify-center items-center bg-gray-100")
    block content
